.board {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border: 1px solid black;
}

.row {
 height: 8px;

}

.cell {
  width: 1%;
  height: 8px;
  display: inline-block;
}

.alive {
  background-color: red;
}
