.board {
  margin-left: auto;
  margin-right: auto;
     
}

.cell {
  display: inline-block;
  background-color: rgb(240,240,255);
}

.alive {
  background-color: red;
}

.btn, select  {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 20px;  
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(200,200,255);
  margin: 10px 20px 10px 2px;
}

.options {
 text-align: center;

}
